# XCode noise
build/
*.pbxuser
*.mode1v3
*.pyc 
*~.nib/ 
*.perspective 
*.perspectivev3
xcuserdata/
.idea/
Crashlytics.framework/
Pods/
*.lock
*.xcuserstate
*.xccheckout

# old school
.svn

# osx noise
.DS_store
profile

# vim
*.swp
